version: '3'

services:
   sl-exception-dashboard:
     image: jmschwan/silverlake-exception-dashboard
     container_name: sl-exception-dashboard
     ports:
       - "3838:3838"
     environment:
       - AS400HOST=<IP or FQDN>
       - AS400LIB=INSCOM000
       - AS400USER=<username>
       - AS400PWD=<password>
       - TZ="America/Chicago"
       - BANKNUM=000
       - DEFAULT_TRIP=<tripnum>
     restart: unless-stopped
       


